<div class="custom-card" data-product-id="{{ product.id }}">
  <div class="custom-card__image">
    <img
      src="{{ product.featured_image | image_url }}"
      alt="{{ product.title }}"
      width="{{ image.width }}"
      height="{{ image.height }}"
    >
  </div>

  <div class="custom-card__content">
    <div class="custom-card__title">{{ product.title }}</div>
    {% render 'custom-buy-button', product: product %}
  </div>
</div>
